#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: darkslategray;
  background-color: lightslategrey;
  background-color: dimgray;
  background-color: tomato;
  background-color: cadetblue;
  background-color: teal;
  background-color: steelblue;
  background-color: lightseagreen;
  background-color: lightskyblue;
  background-color: lightcoral; */
}

html {
  background-color: darkslategray;
}